* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  overflow: visible;
}

button:focus {
  box-shadow: none !important;
}

header {
  background: linear-gradient(-180deg, #D31027, #EA384D);
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}
header .navbar-brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
}
header .navbar .form-inline .form-control {
  width: 100%;
  border-radius: 24px;
  border-color: transparent;
}
header .navbar .form-inline .form-control:focus {
  background-color: none;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  animation: all 5s;
}
header .form-inline .btn {
  position: absolute;
  outline: 0;
  right: 26px;
  top: 3px;
  color: #ffffff;
  padding: 3px 24px 3px 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background: linear-gradient(-180deg, #D31027, #EA384D);
  transition: all 0.5s;
}
header .form-inline .btn:hover {
  opacity: 0.8;
}
header .form-inline .btn:focus-visible {
  outline: 0;
}
header .leftHeader #userLogin {
  width: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
header .leftHeader .boxMenu {
  position: relative;
  width: 90px;
}
header .leftHeader .boxMenu:hover .checked .userMenu {
  display: block;
}
header .leftHeader .boxMenu .userMenu {
  display: none;
}
header .leftHeader .boxMenu .checked .userMenu {
  position: absolute;
  padding-left: 0;
  top: calc(100% + 4px);
  right: 0;
  width: 160px;
  border-radius: 2px;
  background-color: #ffffff;
  z-index: 2;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
  list-style: none;
}
header .leftHeader .boxMenu .checked .userMenu:before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}
header .leftHeader .boxMenu .checked .userMenu .userMenuItem {
  padding-top: 2px;
}
header .leftHeader .boxMenu .checked .userMenu .userMenuItem:hover .inforMenu {
  background-color: rgb(250, 250, 250);
  text-decoration: underline;
}
header .leftHeader .boxMenu .checked .userMenu .userMenuItem .inforMenu {
  position: relative;
  color: #1e1d1d;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 16px;
  display: block;
}
header .leftHeader i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 4px;
  outline: none;
  border-color: transparent;
  transition: all 0.5s;
}
header .leftHeader span {
  font-size: 16px;
  color: #ffffff;
  transition: all 0.5s;
}
header .leftHeader .btn:hover i, header .leftHeader .btn:hover span {
  opacity: 0.7;
}
header .cart {
  position: relative;
}
header .cart .cartNumber {
  position: absolute;
  top: -13px;
  right: 33px;
  padding: 0.5px 4px;
  border: 2px solid #D31027;
  border-radius: 12px;
  background-color: #ffffff;
  color: #fc0303;
  font-size: 12px;
  font-weight: 700;
  line-height: none;
}

#carouselExampleIndicators {
  width: 100%;
  height: 500px;
}

.carouselShoes {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.carouselShoes .container-carousel {
  z-index: 10;
}
.carouselShoes .bg-carousel {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  margin: 0 1rem;
}
.carouselShoes .bg-carousel img {
  width: 100%;
}
.carouselShoes .carousel-item--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.carouselShoes .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carouselShoes .carousel-control-prev-icon {
  border: 1px solid black;
}
.carouselShoes .carousel-control-prev {
  left: -50px;
}
.carouselShoes .carousel-control-next {
  right: -50px;
}
.carouselShoes h3 {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}
.carouselShoes p {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.carouselShoes .carousel-item button {
  padding: 13px 35px;
  background-color: #f8b653;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.featureShoes h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
}
.featureShoes .categoryText {
  padding-left: 13px;
  font-size: 20px;
  padding-top: 15px;
}
.featureShoes .category {
  display: flex;
}
.featureShoes .category a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #1e1d1d;
  padding: 7px 15px;
  font-weight: 600;
  border: 1px solid #1e1d1d;
  border-radius: 24px;
  margin-right: 10px;
  background-color: #ffffff;
  transition: all 0.5s;
  min-width: 100px;
  cursor: pointer;
}
.featureShoes .category a:hover {
  background-color: red;
  opacity: 0.8;
  color: white;
}
.featureShoes .category .feature__item {
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.featureShoes .category .feature__item:hover {
  transform: translateY(-8px);
}
.featureShoes .category .feature__item h4 {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.featureShoes .category .feature__item span:nth-of-type(1) {
  color: #cbc9c9;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.featureShoes .category .feature__item span:nth-of-type(2) {
  color: #F80909;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 20px 20px 20px 0;
  display: inline-block;
}
.featureShoes .category .feature__item span:nth-of-type(3) {
  color: #cbc9c9;
  font-size: 39px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: line-through;
  display: inline-block;
}
.featureShoes .category .feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureShoes .category svg {
  position: absolute;
  top: 12px;
  left: -5px;
}

.detailShoes .imgDetail {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}
.detailShoes .saleOff {
  position: absolute;
  display: flex;
  width: 45px;
  height: 47px;
  padding-left: 7.5px;
  line-height: 20px;
  background-color: red;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: center;
  align-items: center;
}
.detailShoes h2 {
  font-weight: 300;
}
.detailShoes p {
  color: #140101;
  margin-bottom: 5px;
}
.detailShoes span {
  color: #1ed90e;
  font-size: 24px;
}
.detailShoes .sizeDetail {
  margin: 20px 0;
}
.detailShoes .sizeDetail .btn {
  font-size: 24px;
  font-weight: 600;
}
.detailShoes .sizeDetail .btn.active {
  border: 1px solid red;
  border-radius: 0;
}
.detailShoes .priceDetail .discountDetail {
  position: relative;
  top: -6px;
  background-color: #F94C43;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  padding: 4px 11px;
}
.detailShoes .priceDetail .costDetail {
  padding: 0 10px;
  font-size: 35px;
  font-weight: 500;
  text-decoration: line-through;
  color: #cbc9c9;
}
.detailShoes .priceDetail .saleDetail {
  font-size: 40px;
  font-weight: 700;
  color: #FF0000;
}
.detailShoes .quantityDetail {
  padding: 15px 0;
  display: flex;
}
.detailShoes .quantityDetail .btn {
  padding: 5px 20px;
  font-size: 24px;
  border: 1px solid #fc0303;
  color: #fc0303;
}
.detailShoes .quantityDetail .btn:hover {
  background-color: rgb(255, 187, 187);
}
.detailShoes .quantityDetail span {
  display: block;
  position: relative;
  width: 50px;
  top: 6px;
  padding: 0 0px;
  color: #000000;
  text-align: center;
}
.detailShoes .addCartDetail button {
  width: 175px;
  height: 65px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  background-color: #fc0303;
  border: none;
  transition: all 0.5s;
  border-radius: 8px;
}
.detailShoes .addCartDetail button:hover {
  opacity: 0.7;
}

.relateShoes {
  padding-top: 80px;
  text-align: center;
}
.relateShoes .productRealate {
  position: relative;
  background-color: #f8f8f8;
  width: 335px;
  height: 370px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.relateShoes .productRealate:hover {
  box-shadow: #989898 0px 0px 20px;
  transform: translateY(-10px);
}
.relateShoes .imgRealate {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.relateShoes a {
  text-decoration: none;
}
.relateShoes h1 {
  padding-bottom: 50px;
}
.relateShoes h2 {
  font-weight: 300;
  text-align: left;
  padding-left: 25px;
  color: #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.relateShoes p {
  text-align: left;
  color: #cbc9c9;
  font-size: 18px;
  padding-left: 25px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.relateShoes .price {
  text-align: left;
  padding-left: 30px;
}
.relateShoes .costRealate {
  padding: 0 10px;
  font-size: 35px;
  font-weight: 500;
  text-decoration: line-through;
  color: #cbc9c9;
}
.relateShoes .priceRealate {
  font-size: 40px;
  font-weight: 700;
  color: #FF0000;
  padding-right: 20px;
}
.relateShoes .bannerSale {
  position: absolute;
  left: -4px;
  top: 10px;
  background-image: url(../img/badge-on-sale.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 50px;
  color: #ffffff;
  font-weight: 800;
}

.table {
  text-align: center;
}
.table tr th {
  vertical-align: sub;
}
.table .table__body img {
  width: 30%;
}
.table .table__body td {
  vertical-align: middle;
}
.table .table__body th {
  vertical-align: middle;
}
.table .edit__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table .edit__item button {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .edit__item input {
  width: 30px;
  text-align: center;
  margin: 0 5px;
}

.signUp .successRegister {
  font-size: 30px;
  color: #01cc65;
  padding-top: 50px;
  text-align: center;
  font-weight: 500;
}
.signUp .error {
  color: #da2a21;
  border-color: #e74c3c;
  background: #fff6f6;
}
.signUp .error + label span {
  background-color: transparent;
  color: #e74c3c;
}
.signUp .errorNoti {
  color: red;
  margin-top: 5px;
  margin-left: 70px;
  display: none;
  font-size: 14px;
  transition: all 0.5s;
}
.signUp h2 {
  text-align: center;
  padding: 50px 0 25px 0;
}
.signUp .form-group .input-group input {
  border-radius: 5px;
}
.signUp .form-group .input-group input.error:focus {
  border-color: #e74c3c;
}
.signUp .form-control {
  display: block;
  width: 50px;
  border-radius: 5px;
}
.signUp .form-control:focus {
  background-color: none;
  border: 1px solid #6181f3;
  outline: 0;
  box-shadow: none;
  box-shadow: 0 3px 2px rgba(188, 188, 197, 0.5);
  transition: 0.5s;
}
.signUp .form-control:focus + label {
  top: -50%;
  transform: translate3d(0, 50%, 0) scale(0.9);
  transition: 0.2s;
  transform-origin: left;
}
.signUp .form-control:focus + label .inputLogin {
  top: 10px;
  padding: 0 5px;
  margin: 0 5px;
  transition: 0.2s;
  background-color: #ffffff;
  border-radius: 24px;
}
.signUp input.active + label {
  top: -50%;
  transform: translate3d(0, 50%, 0) scale(0.9);
}
.signUp input.active + label span {
  top: 10px;
  padding: 0 5px;
  margin: 0 5px;
  transition: 0.2s;
  background-color: #fff;
}
.signUp label {
  position: absolute;
  cursor: text;
  z-index: 25;
  top: 0;
  transform: translate3d(0, 50%, 0);
  transition: 0.2s;
}
.signUp .input-group {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.signUp .inputLogin {
  position: absolute;
  top: 7px;
  left: 13px;
  font-size: 14px;
  transition: 0.2s;
  background-color: #ffffff;
}
.signUp .passConfirm {
  width: 134px;
}
.signUp .signInSignUp {
  display: flex;
  padding: 0 55px;
  justify-content: space-between;
}
.signUp .signInSignUp .signIn {
  padding: 5px 30px;
  background-color: #ff424e;
  border: 1px solid #e74c3c;
  border-radius: 24px;
  text-align: center;
  color: white;
  font-weight: 500;
  transition: all 0.5s;
}
.signUp .signInSignUp .signIn:hover {
  opacity: 0.8;
}
.signUp .signInSignUp .signUp {
  font-size: 14px;
  color: #6181f3;
  transition: all 0.5s;
  border: none;
  background-color: white;
}
.signUp .signInSignUp .signUp:hover {
  text-decoration: underline;
  color: #3e20f8;
}
.signUp .checkGender {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.signUp .checkGender h6 {
  font-weight: 400;
}
.signUp .checkGender .male {
  margin-right: 35px;
  margin-left: 35px;
}
.signUp .checkGender input[type=radio] {
  margin-right: 5px;
  height: 15px;
  width: 15px;
}
.signUp .register button {
  position: absolute;
  width: 100%;
  border: none;
  background-color: #01cc65;
  padding: 5px 0;
  border-radius: 8px;
  color: white;
  font-weight: 700;
}
.signUp .register button:hover {
  opacity: 0.9;
  box-shadow: #989898 0px 0px 3px;
}

.modal-dialog {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.modal-content {
  margin-top: 200px;
  height: 395px;
  border-radius: 24px;
  border: transparent;
}
.modal-content .head-form i {
  position: absolute;
  top: 10px;
  right: 11px;
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}
.modal-content .head-form i:hover {
  opacity: 0.7;
}
.modal-content header {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.modal-content h2 {
  padding: 10px 0;
  font-size: 35px;
  font-weight: 600;
  position: relative;
  left: 50%;
  transform: translateX(-10%);
  color: #ffffff;
}
.modal-content .login {
  margin-top: 40px;
}
.modal-content #user,
.modal-content #password {
  display: block;
  width: 50px;
  border-radius: 5px;
}
.modal-content #user:focus,
.modal-content #password:focus {
  background-color: none;
  border: 1px solid #6181f3;
  outline: 0;
  box-shadow: none;
  box-shadow: 0 3px 2px rgba(188, 188, 197, 0.5);
  transition: 0.5s;
}
.modal-content #user:focus + label,
.modal-content #password:focus + label {
  top: -50%;
  transform: translate3d(0, 50%, 0) scale(0.9);
  transition: 0.2s;
  transform-origin: left;
}
.modal-content #user:focus + label .inputLogin,
.modal-content #password:focus + label .inputLogin {
  top: 10px;
  padding: 0 5px;
  margin: 0 5px;
  transition: 0.2s;
}
.modal-content input.active + label {
  top: -50%;
  transform: translate3d(0, 50%, 0) scale(0.9);
}
.modal-content input.active + label .inputLogin {
  top: 10px;
  padding: 0 5px;
  margin: 0 5px;
  transition: 0.2s;
}
.modal-content label {
  position: absolute;
  cursor: text;
  z-index: 25;
  top: 0;
  transform: translate3d(0, 50%, 0);
  transition: 0.2s;
}
.modal-content .input-group {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.modal-content .inputLogin {
  position: absolute;
  top: 7px;
  left: 13px;
  font-size: 14px;
  transition: 0.2s;
  background-color: #ffffff;
}
.modal-content .signInSignUp {
  display: flex;
  padding: 0 55px;
  justify-content: space-between;
}
.modal-content .signInSignUp .signIn {
  padding: 5px 30px;
  background-color: #ff424e;
  border: 1px solid #e74c3c;
  border-radius: 24px;
  text-align: center;
  color: white;
  font-weight: 500;
  transition: all 0.5s;
}
.modal-content .signInSignUp .signIn:hover {
  opacity: 0.8;
  box-shadow: #989898 0px 0px 3px;
}
.modal-content .signInSignUp .signUp {
  font-size: 14px;
  color: #6181f3;
  transition: all 0.5s;
  border: none;
  background-color: white;
}
.modal-content .signInSignUp .signUp:hover {
  text-decoration: underline;
  color: #3e20f8;
}
.modal-content .otherLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 393px;
}
.modal-content .otherLogin .text {
  flex: 0 0 auto;
  position: relative;
  display: block;
  margin: 15px 22px;
  box-sizing: border-box;
  font-size: 14px;
  color: #515151;
  text-align: center;
}
.modal-content .otherLogin::after, .modal-content .otherLogin::before {
  content: "";
  flex: 0 1 100%;
  display: block;
  height: 1px;
  background: #ebebeb;
}
.modal-content .socialLogin {
  position: relative;
}
.modal-content .socialLogin #container {
  position: relative;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  width: 1000px;
  height: 300px;
}
.modal-content .socialLogin #container p {
  position: absolute;
  margin: 0;
  bottom: 0px;
  right: 40px;
  font-size: 60px;
  color: #444;
}
.modal-content .socialLogin #logo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -45px;
  left: 180px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 13px solid #fff;
  background-color: #fff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.5s;
}
.modal-content .socialLogin #logo::after {
  position: absolute;
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
}
.modal-content .socialLogin #logo::before {
  position: absolute;
  content: "";
  display: block;
  width: 35%;
  height: 32%;
  background: #fff;
  right: 0;
  z-index: 10;
  bottom: 50%;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
.modal-content .socialLogin #logo:hover {
  top: -55px;
}
.modal-content .socialLogin #logo .g-line {
  width: 50%;
  height: 20%;
  background: #0091ea;
  position: absolute;
  right: 0;
  margin: auto;
  border-bottom-right-radius: 4px 20px;
  top: 0;
  bottom: 0;
  z-index: 15;
}
.modal-content .socialLogin #logo .yellow {
  width: 40%;
  height: 40%;
  position: absolute;
  left: -15%;
  bottom: 32%;
  margin: auto;
  background: #ffc107;
  transform: rotateZ(-48deg);
  -webkit-transform: rotateZ(-48deg);
  z-index: 3;
}
.modal-content .socialLogin #logo .green {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  border-radius: 0 0 100% 100%;
  background: #4caf50;
  z-index: 2;
}
.modal-content .socialLogin #logo .blue {
  position: absolute;
  width: 0px;
  height: 0px;
  right: 0;
  z-index: 30;
  top: 50%;
  z-index: 2;
  width: 35%;
  height: 32%;
  background: #0091ea;
  right: 0;
  z-index: 2;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
.modal-content .socialLogin #logo .red {
  width: 81%;
  height: 50%;
  position: absolute;
  top: 0px;
  background: #f44336;
}
.modal-content .socialLogin .fb {
  position: absolute;
  top: 5px;
  left: 53%;
  font-size: 50px;
  transition: all 0.5s;
}
.modal-content .socialLogin .fb:hover {
  top: -5px;
}

.searchPage h2 {
  font-size: 20px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */