* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

header {
  background: linear-gradient(-180deg, #D31027, #EA384D);
}
header .navbar-brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
}
header .navbar .form-inline .form-control {
  width: 100%;
  border-radius: 24px;
  border-color: transparent;
}
header .navbar .form-inline .form-control:focus {
  background-color: none;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  animation: all 5s;
}
header .form-inline .btn {
  position: absolute;
  outline: 0;
  right: 26px;
  color: #ffffff;
  padding: 4px 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background: linear-gradient(-180deg, #D31027, #EA384D);
  transition: all 0.5s;
}
header .form-inline .btn:hover {
  opacity: 0.9;
}
header .leftHeader i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 4px;
  outline: none;
  border-color: transparent;
  transition: all 0.5s;
}
header .leftHeader span {
  font-size: 16px;
  color: #ffffff;
  transition: all 0.5s;
}
header .leftHeader .btn:hover i, header .leftHeader .btn:hover span {
  opacity: 0.7;
}
header .cart {
  position: relative;
}
header .cart .cartNumber {
  position: absolute;
  top: -13px;
  right: 33px;
  padding: 0.5px 4px;
  border: 2px solid #D31027;
  border-radius: 12px;
  background-color: #ffffff;
  color: #fc0303;
  font-size: 12px;
  font-weight: 700;
  line-height: none;
}

#carouselExampleIndicators {
  width: 100%;
  height: 500px;
}

.carouselShoes {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.carouselShoes .container-carousel {
  z-index: 10;
}
.carouselShoes .bg-carousel {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  margin: 0 1rem;
}
.carouselShoes .bg-carousel img {
  width: 100%;
}
.carouselShoes .carousel-item--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.carouselShoes .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carouselShoes .carousel-control-prev-icon {
  border: 1px solid black;
}
.carouselShoes .carousel-control-prev {
  left: -50px;
}
.carouselShoes .carousel-control-next {
  right: -50px;
}
.carouselShoes h3 {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}
.carouselShoes p {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.carouselShoes .carousel-item button {
  padding: 13px 35px;
  background-color: #f8b653;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.featureShoes h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.featureShoes .category button {
  padding: 7px 15px;
  border: 1px solid #000000;
  border-radius: 8px;
  margin-right: 25px;
  background-color: #ffffff;
}
.featureShoes .category button:hover {
  background-color: #F2994A;
  transition: all 0.5s;
}
.featureShoes .row {
  gap: 67px;
  flex-wrap: nowrap;
  margin-bottom: 45px;
}
.featureShoes .feature__item {
  position: relative;
  cursor: pointer;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.featureShoes .feature__item:hover {
  transform: translateY(-8px);
  transition: all 0.5s;
}
.featureShoes .feature__item h4 {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.featureShoes .feature__item span:nth-of-type(1) {
  color: #cbc9c9;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.featureShoes .feature__item span:nth-of-type(2) {
  color: #F80909;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 20px 20px 20px 0;
  display: inline-block;
}
.featureShoes .feature__item span:nth-of-type(3) {
  color: #cbc9c9;
  font-size: 39px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: line-through;
  display: inline-block;
}
.featureShoes .feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureShoes svg {
  position: absolute;
  top: 12px;
  left: -5px;
}/*# sourceMappingURL=main.css.map */