//? Khi nào khai báo biến (dùng được cho tất cả trình duyệt)
//? => các giá trị dễ bị thay đổi khi client đổi yêu cầu
//? => các giá trị được dùng nhiều chỗ (2 chỗ trở lên)

//color
$color-dark-1: #000000;
$color-dark-2: #140101;
$color-dark-2: #1e1d1d;

$color-white-1: #f8f8f8;
$color-white-2: #f5f5f5;
$color-white-3: #f6f6f6;
$color-white-4: #fffcfc;
$color-white-5: #dedddc;
$color-white-6: #cbc9c9;
$color-white-7: #ffffff;
$color-white-8: #cccccc;
$color-white-9: #d9d9d9;
$color-white-10: #989898;

$color-yellow-1: #e1b067;
$color-yellow-2: #f8b653;
$color-yellow-3: #F2994A;

$color-green-1: #1ed90e;

$color-red-1: #fc0303;
$color-red-2: #eb5757;
$color-red-3: #F80909;
$color-red-4:#D31027;
$color-red-5:#EA384D;
$color-red-6:#F94C43;
$color-red-7:#FF0000;


$color-blue-1: #6181f3;
$color-blue-2: #7c97f5;
$color-blue-3: #3e20f8;
$color-blue-4: #6200ee;

$color-purple-: #d017ee;
$color-purple-: #AE18E2;

//font size
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 30px;
$fs-9: 44px;

//font weight
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 400;
$fw-5: 600;
$fw-6: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

// line-height
$lh-1: 30px;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;

//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;

//border
$bd-1: 2px;
$bd-2: 8px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
);
