.featureShoes{
   
        h2{
            @include styleText($color-dark-1, 40px, $fw-3, 48px);
        }
        .category{
            button{
                padding: 7px 15px;
                font-weight: 600;
                border: 1px solid $color-dark-1;
                border-radius: 8px;
                margin-right: 25px;
                background-color: $color-white-7;
                transition: all 0.5s;
                &:hover{
                    background-color: $color-red-5;                    
                    opacity: 0.8;
                    color:white;
            }
        }      
        .feature__item{
            position: relative;
            cursor: pointer;
            transition: all 0.5s;
    
            &:hover{
                transform: translateY(-8px);
            }
    
            background-color: $color-white-2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            h4{
                @include styleText($color-dark-1, 24px, $fw-2, 29px);
            }
            span:nth-of-type(1){
                @include styleText($color-white-6, $fs-7, $fw-2, 24px);
            }
            span:nth-of-type(2){
                @include styleText($color-red-3, 40px, $fw-5, 48px);
                margin: 20px 20px 20px 0;
                display: inline-block;
            }
            span:nth-of-type(3){
                @include styleText($color-white-6, 39px, $fw-5, 24px);
                text-decoration: line-through;
                display: inline-block;
            }
        }
        .feature__image{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        svg{
            position: absolute;
            top: 12px;
            left: -5px;
        }
    }
 
}