header {
    background: linear-gradient(-180deg, $color-red-4, $color-red-5);
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;

    .navbar-brand {
        @include styleText($color-white-7, $fs-8, $fw-6, $lh-1);
        text-align: center;
        letter-spacing: 3px;
        margin: 0;
    }
    .navbar .form-inline .form-control {
        width: 100%;
        border-radius: 24px;
        border-color: transparent;
        &:focus {
            background-color: none;
            border-color: transparent;
            outline: 0;
            box-shadow: none;
            animation: all 5s;
        }
    }
    .form-inline .btn {
        position: absolute;
        outline: 0;
        right: 26px;
        top: 3px;
        color: $color-white-7;
        padding: 3px 24px 3px 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        background: linear-gradient(-180deg, $color-red-4, $color-red-5);
        transition: all 0.5s;
        &:hover {
            opacity: 0.8;
        }
        &:focus-visible {
            outline: 0;
        }
    }
    .leftHeader {
        #userLogin {
            width: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .boxMenu {
            position: relative;
            width: 90px;
            &:hover .checked .userMenu  {
            display: block;
       
            }
            .userMenu {
                display: none;
            }
            .checked .userMenu {
                position: absolute;
                padding-left: 0;
                top: calc(100% + 4px);
                right: 0;
                width: 160px;
                border-radius: 2px;
                background-color: $color-white-7;
                z-index: 2;
                list-style: none;
                box-shadow: 0 1px 2px #e0e0e0;
                display: none;
                list-style: none;
                &:before {
                    content: "";
                    border-width: 20px 27px;
                    border-style: solid;
                    border-color: transparent transparent $color-white-7 transparent;
                    position: absolute;
                    right: 4px;
                    top: -29px;
                }
                .userMenuItem {
                    padding-top: 2px;
                    &:hover .inforMenu  {
                        background-color: rgb(250, 250, 250);
                        text-decoration: underline;
                    }
                    .inforMenu {
                        position: relative;
                        color: $color-dark-2;
                        font-weight: 300;
                        font-size: 16px;
                        padding: 8px 16px;
                        display: block;
                    }
                }
            }
        }
       

        i {
            color: $color-white-7;
            font-size: 20px;
            margin-right: 4px;
            outline: none;
            border-color: transparent;
            transition: all 0.5s;
        }
        span {
            font-size: 16px;
            color: $color-white-7;
            transition: all 0.5s;
        }
        .btn {
            &:hover i,
            &:hover span {
                opacity: 0.7;
            }
        }
    }
    .cart {
        position: relative;

        .cartNumber {
            position: absolute;
            top: -13px;
            right: 33px;
            padding: 0.5px 4px;
            border: 2px solid $color-red-4;
            border-radius: 12px;
            background-color: $color-white-7;
            @include styleText($color-red-1, $fs-1 - 2px, $fw-6, none);
        }
    }
}
